  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


  body {
    background-image: url(../assets/background-ada-main.svg);
    height: 100vh;
    font-family: 'Exo', sans-serif;
    
    background-origin: content-box;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100vw;
    background-color: #181C23;
  }
  
  #page  {
    text-align: center;
  }
  
  header { 
    color:  #A6F750;
    margin-top: 85px;
  }
  
  main {
    color: white;
    
  }
  
  form {
    width: 300px;
    margin: 100px auto;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  form div {
    display: flex;

  }
  
  form h2 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  input {
    height: 40px;
    width: 100%;
    padding: 0px 0px 0px 10px;
    text-align: start;
    
    font-family: 'Exo', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7) !important;
  
    background-color: #282C33;
    border: none;
  
  }

  /* Tira o Focus quando o input é selecionado */
  input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
  }

  i {
    display: flex !important;
    justify-items: center;
    align-items: center;
    padding: 0px 10px 0px 10px;
    color: rgba(255, 255, 255, 0.516);
    background-color: #282C33;
   
  }

  
  
  .RadiusBorderUp{
    border-radius: 12px 0px 0px 0px;
  }
  .RadiusBorderDown{
    border-radius: 0px 0px 0px 12px;
  }

.noRadiusBorder {
    border-radius: 0;
  }


  .inputName {
    border-radius: 0px 12px 0px 0px;
  }

  

 

  /* estilizar o auto complete do chrome */
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active{
      -webkit-box-shadow: 0 0 0 30px rgba(40, 44, 51, 1) inset !important;
      -webkit-text-fill-color: rgba(255, 255, 255, 0.7)  !important;
  }

  .fa-solid-border{
    border-radius: 0 0 12px 0;

  }
  
  input::placeholder {
    color: rgba(255, 255, 255, 0.3);
    font-weight: 400;
  }
  
  form button {
    background-color: #A6F750;
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    color: #181C23;
  
    border: none;
    border-radius: 12px;
    height: 40px;
    width: 180px;
    margin: 5px auto;
  
  }
  
  form p {
    font-weight: 400;
    font-size: 10px;
  }
  
  form p a {
    color: #A6F750;
    text-decoration: none;
    
  }
  
  form p a:hover, form p a:active {
    color: #7ebb3d;
  }
  
  
  