
body {
    background-image: url(../../assets/background-ada-main.svg);
    height: 100vh;
    font-family: 'Exo', sans-serif;
    
    background-origin: content-box;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100vw;
    background-color: #181C23;
    width: 300px;
    margin: 100px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
form{
   margin: 100px auto;
   display: flex;
   flex-direction: column;
   gap: 5px;
}

form h2 {
   font-size: 14px;
   font-weight: 600;
   margin-bottom: 5px;
   color: white;
}

.inputContainer{
   display: flex;
   height: 40px;
   padding: 0px 10px 0px 10px;
   text-align: start;
   font-weight: 400;
   background-color: rgb(40, 44, 51);
   color: rgba(255, 255, 255, 0.7);
   gap: 10px;
   align-items: center;
   }

   .inputContainer first {
      background-color: red;
   }

 header{
    color:rgb(166, 247, 80)
 }

 input {
   all: unset;
 }
 button{
   all:unset;
   background-color: rgb(166, 247, 80);
    font-family: Exo, sans-serif;
    font-weight: 700;
    color: rgb(24, 28, 35);
   
    border-radius: 12px;
    height: 40px;
    width: 180px;
    margin: 5px auto;
 }

 